<style>
    
    .modal-header{
        background: silver;
    }
    
</style>


<div class="modal fade bd-example-modal-lg show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="true" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Accepter un prêt</h5>
                </button>
            </div>
            <div class="modal-body">
                <p>Nom prenoms  sexe  Age: </br>
                    Quartier
                </p>

                 <p>Numéro de phone </p>

                 <p> 
                  <input type="phone" id="inputEmail" class="" placeholder="Uniquement Flooz" name="phone" required autofocus>
            <label for="inputPassword" class="sr-only"></label>
                    </p>
                 <p>Montant : </br>
                    A payer avant le :
                </p>

            </div>
            <div class="modal-footer">
                <a href="/paygate" class="btn btn-primary">Valider</a>

                 <a href="/" class="btn btn-danger">Annuler</a>
            </div>
        </div>
    </div>
</div>
