 <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="headers.css" rel="stylesheet">
  <!DOCTYPE html>
    <html>
      <head>
     <body>
            <div class="container">
              <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                  <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                  <span class="fs-4"><strong>Doganam</strong></span>
                </a>

                <ul class="nav nav-pills">
                  <li class="nav-item"><a href="/register" class="nav-link">Créer un compte</a></li>

                  <li class="nav-item"><a href="/login" class="nav-link active">Connexion</a></li>
              </header>

              
                

            <style type="text/css">
              .text-warnin{
                color: black;
              }
            </style>

  <style>
  @media (max-width: 500px) {
  
  .responsive-table-line td:before { content: attr(data-title); }
  
  .responsive-table-line table, 
  .responsive-table-line thead, 
  .responsive-table-line tbody, 
  .responsive-table-line th, 
  .responsive-table-line td, 
  .responsive-table-line tr { 
  display: block; 
  }
   
  .responsive-table-line thead tr { 
  display:none;
  }
  
  .responsive-table-line td { 
  position: relative;
  border: 0px solid transparent;
  padding-left: 50% !important; 
  white-space: normal;
  text-align:right; 
  }
   
  .responsive-table-line td:before { 
  position: absolute;
  top: 0px;
  left: 0px;
  width: 45%; 
  padding-right: 15px; 
  height:100%;
  white-space: nowrap;
  text-overflow: ellipsis !important;
  overflow:hidden !important;
  text-align:left;
  background-color:#f8f8f8;
  padding:2px;
  }
  
  }
  .invisible{
    display: none;
  }
  </style>
  
  <div class="responsive-table-line" style="margin:0px auto;max-width:700px;">
  <table class="table table-bordered table-condensed table-body-center" >
    <p><strong>Liste de demande de prêt</strong></p>
  <thead>
  <tr>
  <th>Pseudo</th>
  <th>Quartier</th>
  <th>Sexe</th>
  <th>Age</th>
  <th class="invisible">Numéro de téléphone</th>
  <th>Montant</th>
  <th>Delai</th>
  <th>Infos</th>
  <th>Réponse</tr>
</thead>
  <tbody>
  <tr>
  <td data-title="Pseudo">Jojo</td>
  <td data-title="Quartier">Forever</td>
  <td data-title="Feminin">F</td>
  <td data-title="age">18</td>
  <td data-title="amount">4000</td>
  <td data-title="Delai">3jours</td>
  <td data-title="info">Jojo</td>
  <td> <a href="/alert">Accepter</a></td>
  </tr>
  <tr>
    <td data-title="Pseudo">Jojo</td>
  <td data-title="Quartier">Forever</td>
  <td data-title="Feminin">F</td>
  <td data-title="age">18</td>
  <td data-title="amount">4000</td>
  <td data-title="Delai">3jours</td>
  <td data-title="info">Jojo</td>
  <td> <a href="/alert">Accepter</a></td>
   </tbody>
</head>
</body>
</html>