</br>
 <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="headers.css" rel="stylesheet">
  <!DOCTYPE html>
    <html>
      <head>
     <body>
            <div class="container">
              <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                  <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                  <span class="fs-4"><strong>Doganam</strong></span>
                </a>

                <ul class="nav nav-pills">
                  <li class="nav-item"><a href="/register" class="nav-link">Créer un compte</a></li>

                  <li class="nav-item"><a href="/login" class="nav-link active">Connexion</a></li>
              </header>

              
                

            <style type="text/css">
              .text-warnin{
                color: black;
              }
            </style>
<div class="container-fluid">
  <div class="row text-left">
    <nav id="sidebarMenu" class="col-md-3 col-lg-4 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-5">
        <ul class="nav flex-column">
          <li class="nav-item text-left">
            <a class="nav-link active text-warnin" aria-current="page" href="#"><strong>Accueil</a></strong>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warnin" href="liste"><strong>Liste de Demandes de prêt</a></strong>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warnin" href="/dead"><strong>Liste Noire</a></strong>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warnin" href="/aide"><strong>Solliciter de l'aide</a></strong>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warnin" href="#"><strong>Etat de la demande de prêt en cours</a></strong>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warnin" href="/accorde"><strong>Liste des prêt accordés </a></strong>
          </li>
        </ul>

            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</head>
</body>
</html>