<style>
    
    .modal-header{
        background: silver;
    }

</style>

<div class="container">
              <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                  <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                </a>

                <ul class="nav nav-pills">

                  <li class="nav-item"><a href="/login" class="nav-link active">Deconnexion</a></li>
              </header>
<div>

<div class="modal fade bd-example-modal-sm show" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="display: block;" aria-modal="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Remboursement du prêt</h5>
                </button>
            </div>
            <div class="modal-body">
                <p>Montant emprunté: </br>
                    + Intèret <br>
                    + Retard 
                </p>

             <input type="phone" id="inputEmail" class="form-control" placeholder="Uniquement Flooz" name="phone" required autofocus>
            <label for="inputPassword" class="sr-only"></label>

            </div>
            <div class="modal-footer">
                 <a href="/paygate" class="btn btn-primary">Valider</a>

                 <a href="/suivi" class="btn btn-danger">Annuler</a
            </div>
        </div>
    </div>
</div>

</div>